@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ed34ed;
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
}

.container .box {
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgba(100, 28, 87, 0.7);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.container .box:active {
  background-color: rgba(50, 100, 20, 0.9);
}
